[2014-08-10 17:27] SirCmpwn opened #7 "Multihead setup has artifacts where no display exists"
This is a problem with scrot, too, but perhaps you guys can fix it.

https://cdn.mediacru.sh/800H1CGVGnnO.png

[2014-11-06 05:44] fbm-static opened #12 "disturbing name"

[2015-01-21 13:39] orschiro opened #14 "Notification support for countdown"
Hi @Roger ,

Many thanks for escrotu! A great replacement for the rather limited Gnome Screenshot.

One request. My default command (mapped to `Print` key) use is as follows:

[code]

Since I don't see the CLI countdown timer, would it be possible to display a `libnotify` notification for the countdown timer?

Thanks in advance!

Robert

[2015-01-22 14:45] Roger commented on #14
@orschiro maybe you can write a script that sends the notify and then call escrotum, something like this
[code]

[2015-01-22 16:04] orschiro commented on #14
@Roger

Nice idea! Nothing you want to implement into escrotum?

[2015-01-22 17:21] Roger commented on #14
I just don't think is worth adding pynotify as a dependency just for that

[2015-01-22 19:35] orschiro commented on #14
Valid point.

Thanks for raising this!

~ Robert

On 01/22/2015 06:21 PM, Roger wrote:

--
Sharing my passion & inspiration for

#sustasty lifestyles #transitions
#opensource #degrowth / Love
#bouldering

Flying is old-school and the
world cannot be saved part-time

Co-Creator of @MindfulMeerkats

www.robert.orzanna.de
twitter.com/@orschiro

[2015-03-03 22:11] michaelmrose commented on #12
grats on actually creating a name worse than scrot OR gimp

[2015-03-19 13:35] aanatoly opened #15 "region selection with compton gets extra shadow"
Hi
I run openbox with compton. When I use escrotum to select a region with a mouse, the screenshot is dark.
Please see here http://aanatoly.github.io/ndnd/
My guess is this: escrotum opens a transparent window, compton adds a shadow and draws it onto root window, escrotum grabs a region from root window.  So closing escrotum window **before** taking the shot may solve this

[2015-03-19 16:37] aanatoly commented on #15
I've make pull request #16 that fixes it

[2015-03-20 11:11] Roger commented on #15
fixed here https://github.com/Roger/escrotum/commit/e57f3843c78f7f45b3a70170cebb23051005f293

[2015-03-24 11:45] Brottweiler commented on #15
I think this still happens... Just took this screenshot.
![](https://i.imgur.com/cqN1ghN.png)

My installed package is `local/escrotum-git 31.34b8391-1`, I updated today.

[2015-03-24 19:52] Roger commented on #15
@Brottweiler can you paste your compton's config? also which video driver are you using?

[2015-03-24 20:49] Brottweiler commented on #15
Driver: `nvidia-ck-haswell 346.47-5`

Config:

[code]

[2015-03-24 21:42] Roger commented on #15
Well, after 20 screenshots, i did reproduce the bug.. it seems that we can't trust the repaint event is on sync with the composite image, i found that @chjj, the compton dev, advice to increase the delay in escrotum.. https://github.com/chjj/compton/issues/252

Maybe we should re add the delay, after the repaint, and maybe make it configurable, it seems that it's a race condition affected by the l

[2015-03-24 21:44] Brottweiler commented on #15
Yeah, I didn't really want to edit the source and maintain a custom PKGBUILD with a diff, and then you removed the delay anyway with your "fix" that didn't worked. :stuck_out_tongue:

Configurable delay I guess would work, just add a tiny bit more delay and it should never happen, although adding a delay is more of a workaround than a proper fix.

[2015-03-24 22:27] Roger commented on #15
yeah, i know it's a workaround, but for now i don't have more ideas for a proper fix, can you try this? https://github.com/Roger/escrotum/commit/e916f6ee94b9b68c987057b9c83ce3283d8b0ac6

[2015-03-25 21:58] Roger commented on #15
@Brottweiler i merged it to master, been using it since yesterday, with compton, and have no issue so far

[2015-03-26 07:22] Brottweiler commented on #15
Yeah, haven't noticed issues so far either.

[2015-04-12 19:13] Brottweiler commented on #15
Welp, I just had the issue again. It feels wrong to just add more delay...

[2015-04-14 18:10] Roger commented on #15
Yeah, i don't like the idea of delay either.. i'm thinking on move away from gtk for the window creation and use xcffib, with that we should have more control of when the window is destroyed.

Another workaround, i guess, is to disable compositing on the window so you only see simple borders.

[2015-04-19 02:19] fbm-static commented on #12
haha

[2015-04-30 03:03] SirCmpwn commented on #7
It's been quite a few weeks now, for what it's worth.

[2015-05-01 00:44] dequis commented on #7
He's living in venus, where they have 5832 hour days, and one venus week is 1701 earth days.

[2015-05-01 00:58] Roger commented on #7
back from venus, merged

[2015-05-11 14:44] Brottweiler commented on #15
Maybe remove the delay, since it's not really a fix anyway, and just have compton users remove the "shadow" for now.

[2015-05-15 13:22] SirCmpwn commented on #7
Thanks!

[2015-05-15 13:22] #7 closed

[2015-05-15 13:23] SirCmpwn opened #19 "Black screenshots when selecting regions (regression)"
I recently updated my build of escrotum and when I select a region, I end up with a blank screenshot (completely black). Screenshots of an entire window or the entire display still work.

[2015-05-15 15:34] Roger commented on #19
weird, any traceback? using composite?

[2015-05-15 15:34] SirCmpwn commented on #19
I'm using compton, but no change when I turn it off. Here's an example screenshot:

![](https://a.pomf.se/ikkflf.png)

[2015-05-15 15:35] SirCmpwn commented on #19
I can do a bisect if you like.

[2015-05-15 15:41] Roger commented on #19
that would be awesome because i can't reproduce it

[2015-05-15 15:55] SirCmpwn commented on #19
a04542ef4e5e5cba09cc7feeb70d989f88cd3a18 introduced the bug.

[2015-05-23 22:06] FlashYoshi commented on #15
Same error today, how would you go about removing this shadow @Brottweiler?

[2015-05-23 22:08] Brottweiler commented on #15
To be honest I'm not quite sure how you do it haha.

[2015-05-23 23:03] FlashYoshi commented on #15
Haha, so I'm not alone. Well, the shadow's still there for me, but it doesn't seem to show up on the screenshot afterwards so that's close enough for me. Using glx backend with paint on overlay activated, all fading and shadows disabled.

[2015-05-23 23:05] Brottweiler commented on #15
It's "random", sometimes you get the shadow in the screenshot and sometimes not.

[2015-05-26 17:07] Roger commented on #19
i can't reproduce it.. tried on intel with two screens, i'll look into this..

[2015-05-26 17:10] Roger commented on #15
i guess that, for a workarround, we could disable the composite transparency on the window, and just use plain borders, like it does without a compositor

[2015-05-26 17:12] Roger commented on #15
commenting this should be enough to test: https://github.com/Roger/escrotum/blob/master/escrotum/main.py#L40-L42

[2015-05-26 20:42] Brottweiler commented on #15
Maybe the delay should be removed as well then, to take the screenshot the
moment you release the key.

On Tue, May 26, 2015, 19:12 Roger <notifications@github.com> wrote:

[2015-05-26 21:15] FlashYoshi commented on #15
Seems to work for me, even with the delayed left enabled, it's fast enough for me

[2015-05-27 05:16] Brottweiler commented on #15
Yeah, but the delay is pointless now so might aswell remove it. :stuck_out_tongue:

[2015-05-27 16:02] Zod- commented on #15
How about inverting the selection? Make everything darker and have a clear rectangle.

[2015-05-27 18:34] Roger commented on #15
@Zod- that could work, but we should rewrite selection using a fullscreen window, and cut a hole using cairo

[2015-05-27 20:25] Roger commented on #19
this should fix the bug, https://github.com/Roger/escrotum/tree/fix_offscreen_on_selection can you try it?

[2015-05-27 23:19] SirCmpwn commented on #19
I will test it tonight or tomorrow - I have a plane to get on in a few minutes. Thank you for taking the time to investigate, I'll let you know the results.

[2015-05-29 04:39] SirCmpwn commented on #19
@Roger seems like that fixes it. Thanks!

[2015-05-29 04:54] Roger commented on #19
cool, merged to master

[2015-05-29 04:54] #19 closed

[2015-05-29 16:31] SirCmpwn commented on #19
Thanks a lot @Roger! You're a rare breed of maintainer, I thought I would end up hunting down and fixing this myself.

[2015-05-30 00:12] Zod- commented on #19
Ha I just ran into the same issue, thanks for fixing it

[2015-06-03 16:50] SirCmpwn opened #21 "segfaults when using -s"
To repro:

1. Run `escrotum -s`
2. Click a window
3. Cry

[2015-06-03 17:15] Roger commented on #21
i can reproduce it, seems that something broke with libx11-1.6.3, on a machine with libx11-1.6.2 works fine.. i'll try to debug with gdb to see whats going on

[2015-06-03 18:37] Roger commented on #21
looks like something is broken with libx11.. i can reproduce the same segfault with this

[code]

[2015-06-03 18:49] SirCmpwn commented on #21
For what it's worth, scrot works fine.

[2015-06-09 21:52] SirCmpwn commented on #21
Any newS?

[2015-06-10 18:23] Roger commented on #21
Sorry, i have to deal with real life stuff until this weekend.. i'll try to fix this asap

[2015-06-10 18:26] SirCmpwn commented on #21
No worries, take your time.

[2015-06-21 05:01] #21 closed

[2015-08-18 21:00] Roger opened #24 "Video Recording"
Could be implemented using https://github.com/mikeboers/PyAV or calling ffmpeg via subprocess.

[2015-08-18 21:06] Roger commented on #24
https://trac.ffmpeg.org/wiki/Capture/Desktop

[2015-08-18 22:41] dequis commented on #24
Or maybe just make this a frontend for recordmydesktop

[2015-08-18 22:44] Roger commented on #24
Pro/Cons of recordMyDesktop/ffmpeg?

[2015-08-19 03:05] SethDusek commented on #24
if the developer is adding this, please do add stop and abort buttons while recording too so that one does not have to kill the process by pressing ctrl + c and instead can just stop it or cancel it

[2015-08-19 15:01] Zod- commented on #24
@SethDusek ffmpeg can be stopped by hitting 'q' or sending SIGINT to the process

[2015-08-20 00:42] SethDusek commented on #24
Oh okay. But I think that the dev should use recordmydesktop instead of ffmpeg, or use libav since ffmpeg is no longer in ubuntu repositories and hence is harder to get

[2015-08-20 01:34] Zod- commented on #24
ffmpeg and libav can be replaced directly if you are careful with defining the arguments. libav is a fork of ffmpeg afterall and is compatible with most of it.

[2015-08-20 05:25] Roger commented on #24
recordMyDesktop looks dead, last commit is from 2010, PyAv it's not a complete binding and not even in most distros.. so i'm going with ffmpeg/libav(avconv) using subprocess

[2015-08-28 02:16] SethDusek commented on #24
Here is an example command for recording using avconv:

I'm not sure how one could change the x and y position of the recording though

[2015-08-28 02:19] Zod- commented on #24
@SethDusek try `-i :0.0+x,y`

[2015-08-28 02:46] SethDusek commented on #24
That seemed to have worked. Only Issue I have now is that the output has lots of pixelation

[2015-08-28 04:01] Zod- commented on #24
The default bitrate for conversion is pretty low so you get a pretty bad webm. I couldn't find much about the exact number but it seems to be `200K`.Try some higher values `-b:v 500K` or `-b:v 1M`.

Also converting the video while recording will probably cause problems on slower PCs or it may just hog the CPUs. A solution for that would be to record a lossless video and then do the conversion in a

[2015-08-28 04:38] SethDusek commented on #24
that seemed to have worked, quality was good, if only one didnt have to convert it to webm

[2015-08-28 04:50] Zod- commented on #24
I rather meant that the live conversion should be optional since it hogs a lot of CPU power.

fast and CPU intensive vs slow and CPU saving

Recording with live conversion to webm
`avconv -f x11grab -r 25 -s 640x480 -i :0.0 -vcodec vp8 -b:v 1M -threads 4 recording.webm`

[2015-08-28 04:57] Roger commented on #24
I have some code for this, I'll push on this days, had a lot of stuff in real life going on..
About the format/conversion, i was thinking on having some profiles for different types of video recording

[2015-08-28 09:30] SethDusek commented on #24
@Zod- Here's what happens when I record using that
http://shibe.ml/recording.webm

It seems awfully fast, even though I was draging the window much slower

[2015-08-28 13:39] Zod- commented on #24
@SethDusek I think it had something to do with `-r 25`. It somehow sets the speed of the recording and not just only the framerate. I didn't find a way to solve that yet.

[2015-08-31 16:38] Roger commented on #24
WIP video recording, https://github.com/Roger/escrotum/commit/840ec8f0b83c69994267bac27bff61808fef2626

[2016-02-26 18:02] Kamyi opened #29 "continues working after command execution"
Here is the problem with clipboard.
Hotkey printSc executes escrotum -s -C and it is creates copies of himself after executing command:
![image](https://cloud.githubusercontent.com/assets/6214884/13360804/b08d0fee-dcdc-11e5-84c2-9fd97d781739.png)
So, in the terminal
![image](https://cloud.githubusercontent.com/assets/6214884/13360816/c45ab40e-dcdc-11e5-8585-1c7c66ceca7a.png)
Stops after executing

[2016-03-31 09:09] egyptianbman commented on #29
Here is how I call it:
[code]

As part of my i3 configs, I do:
[code]

[2016-04-08 02:18] Roger commented on #29
I think the problem is that you are starting multiple escrotums that never releases the selection, and the new ones never quits because of that, should be fixed here https://github.com/Roger/escrotum/commit/0d3cc30d1346e6e5ac45eb6c343025fe5bfcb3c0

[2016-07-15 11:48] Alzarath opened #30 "Zoom"
A square preview area near the cursor showing exactly what pixel your mouse is over to select. As well as the selection's dimensions. Only features I really miss from ShareX.

[2016-09-02 15:47] BenoitAverty opened #31 "TypeError when using -s in i3wm"
Hi,

I'm running debian, python2.7.12 and i3 as a window manager.

When I use escrotum -s to capture a region, it works fine. However, when I want to capture a whole window, here's what I get as an error :
[code]

Any Idea what the problem could be ?

[2016-09-26 11:53] willfrew commented on #12
:joy: hilarious

[2016-09-26 14:29] NoctuaNivalis commented on #31
Same exception on Void Linux, with dwm as window manager.

[2016-10-01 21:29] Roger commented on #31
Looks like the container windows don't have colormap set.. https://github.com/i3/i3/issues/2435

[2016-10-19 14:16] #31 closed

[2016-10-19 14:17] Roger commented on #31
@BenoitAverty @NoctuaNivalis please try: https://github.com/Roger/escrotum/commit/c5340c9455d09bf7a398617832d9bb45f2b6474d

[2016-10-19 15:31] NoctuaNivalis commented on #31
@Roger looking good here, thanks.

[2016-12-07 21:36] orestisf1993 opened #32 "Command (--exec) not executed when using --clipboard"
Example:

[code]

With `rm`:

[code]

[2017-01-24 13:13] #32 closed

[2017-01-24 13:14] Roger commented on #29
Reopen if this still happens

[2017-01-24 13:14] #29 closed

[2017-01-24 13:15] #14 closed

[2017-01-24 13:19] Roger opened #33 "[Help Wanted] good presets for ffmpeg/avconv to add video recording"
We only need a good preset to add recording video feature from https://github.com/Roger/escrotum/pull/25

[2017-01-27 06:03] incertia opened #34 "exec does not work"
escrotum exits from Escrotum.save_file before performing the check to exec commands

the call for normal exit in Escrotum.save_file should be moved to Escrotum.screenshot to resolve the issue

[2017-01-31 13:36] #34 closed

[2017-02-02 17:27] dinosaw opened #36 "Tint Over Screenshot"
When using escrotum to take a screenshot, it shows a tint to help you define the area where you're selecting to screenshot. However since I updated `pip`, the final screenshot taken includes that tint overlay making the images look darker. Is this a known bug or did something go awry when I updated `pip`? I have re-installed but the issue still persists.

Example:
http://i.imgur.com/pMO0nIr.png

[2017-02-02 18:00] dequis commented on #36
#15

[2017-03-18 17:46] LukeSwart opened #38 "Tooltips are not captured on a screenshot when using escrotum with an x-window id"
When I want to screenshot a webpage, for example, using the `escrotum` command works fine. But when I try and screenshot the webpage via its x-window's xid, and I use the command `escrotum -x <window-id>`, then any tooltips that are on that webpage don't show up. Why aren't tooltips captured in the screenshot when using escrotum with the x-window id?

I think this is a bug. Any reason why this is

[2017-03-18 17:55] dequis commented on #38
Tooltips are separate windows that are not children of the window id you selected. Sounds like working as intended to me.

[2017-04-07 20:10] joaoherberto opened #39 "Screen capture one out of two displays"
I am running two monitors in extended mode, how do I issue a screenshot of display #2? the Display name is HDMI-0 ?

I tried this: `escrotum --xid=HDMI-0 ~/tmp/01.png`

[2017-05-23 08:55] mahdiG opened #41 "Selection square remains on the screen"
Hi. When I use `escrotum -s -C` and then capture a selection of my screen sometimes the selection square remains on the screen.
![image](https://cloud.githubusercontent.com/assets/4989445/26346396/50c768aa-3fbb-11e7-81cb-563bff49ead1.png)

[2017-07-30 12:50] MelomanCool opened #42 "Pip package is too old"
Please, update the pip package.

[2017-08-31 05:47] LukeSwart commented on #38
Actually, it seems to be catching the tooltips now. Maybe a browser update fixed this? Tested on Chromium and Firefox.

Closing this issue now...

[2017-08-31 05:47] #38 closed

[2017-10-08 10:59] rasendubi commented on #42
I second this. @Roger, do you mind releasing a new version?

[2017-11-15 20:25] Bouni commented on #41
Same issue here with Arch linux and awesomewm.
Any ideas how to get rid of the sqaure in the middle of my screen :-) ?

[2017-11-15 20:31] Roger commented on #41
It hangs or crashes? Is there any traceback?

[2017-11-15 22:06] Roger commented on #41
That's weird.. could you check if the process keeps running in the background before/after restart awesome?

[2017-11-15 22:22] Roger commented on #39
You can't use --xid, xid is the id of a window, selecting a screen it's not supported right now.

[2017-11-15 22:23] #36 closed

[2017-11-16 08:02] Bouni commented on #41
Indeed there is a process running after I've used `escrotum -s -C`

![2017-11-16-08-58-18](https://user-images.githubusercontent.com/948965/32880069-99861fec-caac-11e7-8da0-add2a2ed209d.png)

When I kill that process, the rectangle disappears!
My statement from the last post that ctrl+super+r also removes the rectangle is not true. It just moves to the most rear layer which made me think its gone.

[2017-11-16 14:28] Roger commented on #41
Can i ask you to replace this line with, pass, and try running from a terminal, so we can get some traceback?

https://github.com/Roger/escrotum/blob/master/escrotum/main.py#L275

[2017-11-16 18:30] Bouni commented on #41
Hi,
the pass does the trick, screenshoted section gets into clipboard but frame disappears!

[2018-02-12 13:47] Roger commented on #42
Sorry about this, yeah, we need a new release in pip and github

[2018-02-12 13:52] Roger opened #44 "Help Wanted"
I don't have a lot of time this days to work with this project, so I'm looking for people who wants to mantain it, currently is working as I want but could have some improvements, like finishing https://github.com/Roger/escrotum/pull/25 or releasing new versions(the last one it's from 2014), also packaging on archlinux should have some improvements.

If anyone it's interested, please let me know.

[2018-02-13 11:15] orestisf1993 commented on #44
I can help with the archlinux package, what improvements would you like?

[2018-02-13 11:30] vchimishuk commented on #44
@orestisf1993, actually I'm working on that. We want to add support for recently added man page.

[2018-02-13 11:36] Roger commented on #44
Would be cool to make the PKGBUILD follows the arch packaging standards, iirc we have to add numpy as an optdep and if we fix the releases, we can also add an stable package(not git one)

[2018-02-13 11:43] vchimishuk commented on #44
@Roger, what do you mean here under the "fix"?

[2018-02-13 11:48] Roger commented on #44
I only mean, have a new release, the last one is from 2014

[2018-02-13 18:49] vchimishuk commented on #44
I've updated PKGBUILD. Changes: added some dependencies, use recommended package version, package man page.

[2018-03-24 12:38] jkerkhoff commented on #15
Getting this for ~40% of my screenshots now which is particularly annoying when I only find out hours later because my compton also blurs, making text unreadable. I assume excluding the window from shadows/blurring in my compton config would 'fix' it, but I'm not exactly sure how to target the window. Can anyone help with this?

I also do really like the proposed solution of inverting the selectio

[2018-04-10 20:57] erich-sch commented on #39
I'd like to work on this if noone already is as I also need this functionality.

[2018-07-11 21:48] NullVoxPopuli commented on #12
maybe you're pronouncing it goofy? :p

[2018-07-11 21:59] NullVoxPopuli opened #45 "Failed to load module "canberra-gtk-module"???"
what's this about?

[code]

the message shows up after I finish my selection

[2018-07-15 21:43] Roger commented on #45
That's a gtk error/warning related to the gtk theme

[2018-07-15 21:43] #45 closed

[2018-08-16 12:01] chibby0ne opened #46 "Support/Port to Python 3"
We should support/port Python 3.

[2019-01-05 11:19] darshkpatel commented on #12
[Reddit thread](https://www.reddit.com/r/i3wm/comments/65vis5/screenshot_commands_from_my_i3_config/dgdl7rt)

[2019-01-16 01:52] blueyed opened #48 "-e: escape/use dollar sign"
With `scrot` you can use `$$` to have a literal `$` in the `-e` expression, but it does not work with escrotum:

[code]

[2019-01-16 02:11] blueyed opened #49 "Support for --focused"
`scrot` has an option `--focused` to select/use the focused window.

With escrotum you have to use something like `escrotum --xid $(xdotool getactivewindow)`.

It would be nice if `--focused` was supported for compatibility and ease of use.

[2019-02-15 13:25] chibby0ne opened #50 "Add support for Wayland"
I used this tool all the time in i3, and I recently moved to Sway and noticed that the screenshots taken are completely black. That's when I realized escrotum only supports X. It would be nice to have support for Wayland though since it is getting more mainstream lately.

[2019-02-15 16:03] Roger commented on #50
This will need a major rewrite, because this tool depends on X apis

[2019-02-17 14:35] chibby0ne commented on #50
Oh ok... so is that for version 2.0?

[2019-04-22 00:46] sabactani opened #51 "Did you mean print(".")?"
Installed it with pip and got this error when executing the binary, whats wrong? Do I miss any dependence?

[2019-04-22 01:02] sabactani commented on #51
Traceback (most recent call last):
  File "./escrotum", line 11, in <module>
    load_entry_point('escrotum==0.2.1', 'console_scripts', 'escrotum')()
  File "/usr/lib64/python3.6/site-packages/pkg_resources/__init__.py", line 487, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib64/python3.6/site-packages/pkg_resources/__init__.py", line 2728, in

[2019-04-22 01:13] dequis commented on #51
python3 is not supported, use python2

[2019-06-10 15:08] alehresmann opened #52 "Help gives an example whose result is inconsistent with the given command"
Hello,
In version 0.2.1 of escrotum, the following example is given in the help message:

[code]

However, running the example command actually yields a file called something like: `2013-06-17_263x738_escrotum.png`

This can either be fixed by changing the command to the correct one, i.e.

`escrotum '%Y-%m-%d-%H%M%S_$wx$h_escrotum.png'`

or change the name of the file to the correct one, i.e.

`20

[2019-06-10 15:30] Roger commented on #52
Good catch, correcting the format string should be better, so please send a PR, fun fact is that I've copied the format string and output from scrot (while trying to mimic same defaults/flags), so scrot have the same issue in docs.

[2019-06-10 17:55] #52 closed

[2019-06-10 18:16] StarrKiss commented on #12
It sounds like a sex toy during the .com boom. The brand new eScrotum! The only internet connected sex toy!

[2019-07-10 16:01] Roger commented on #46
@abhixec I'm working on branch that you created: the https://github.com/abhixec/escrotum/tree/py3port if you don't mind I'll finish porting to python3, I've a local branch based on your work that have most of the features working :)

[2019-07-10 21:52] agopalakrishnan-twist commented on #46
Sure! Thanks a lot let me know if I can help in anyway

[2019-07-10 21:54] abhixec commented on #46
Sure! Let me know if I can help in anyway. I have been meaning to complete the port ...😪

[2019-09-01 01:02] cedric-h commented on #12
But this is open source so it should probably be more like weScrotum

[2019-11-16 23:23] trinaldi commented on #44
Sent a PR #54

[2020-01-11 21:52] Roger commented on #51
WIP of python3 support https://github.com/Roger/escrotum/pull/55/

[2020-01-12 20:44] Roger commented on #51
python3 port merged to master

[2020-01-12 20:44] #51 closed

[2020-01-12 20:45] Roger commented on #46
python3 port marged to master thanks @abhixec for the initial effort :)

[2020-01-12 20:45] #46 closed

[2020-01-12 21:56] Roger commented on #24
merged video support to master

[2020-01-12 21:56] #24 closed

[2020-01-12 21:57] #33 closed

[2020-01-12 22:40] Roger commented on #42
released version 1.0.0 to pypi https://pypi.org/project/escrotum/1.0.0/

[2020-01-12 22:40] #42 closed

[2020-01-12 22:42] Roger commented on #44
@vchimishuk just released new version "1.0.0" can you check the aur package and maybe is time to release a non git version, downloaded from pypi

[2020-01-23 21:39] vchimishuk commented on #44
Thanks, @Roger. Will do it soon.

[2020-01-23 21:51] vchimishuk commented on #48
@blueyed, you do not need to escape `$` when passing variable to with the exec command. `escrotum -e 'echo $PWD'` works just fine.

[2020-01-23 22:50] blueyed commented on #48
@vchimishuk I see, must have missed that.
Also `escrotum -e 'echo \$PWD'` works as expected (displays `$PWD` literally).
Thanks, closing.
(escrotum 0.2.1)

[2020-01-23 22:50] #48 closed

[2020-01-30 19:09] vchimishuk commented on #44
@Roger, I have a problem to make the latest version works. I have the same issue for Python 2 & 3. Looks like there is some issue in setup.py. Could you help me with that, please?
[code]

[2020-01-30 22:28] Roger commented on #44
@vchimishuk this depends on python-gobject, I think we need to add that as a dependency in the PKGBUILD, btw, python2 is not supported anymore in latest version

[2020-01-31 10:09] vchimishuk commented on #44
@Roger, the thing is it is installed and present in PKGBUILD. Also, I've tried to experiment with `gi` instead of `gobject` in `setup.py`, as was suggested under some similar issues in Internet -- it doesn't work either.

https://files.vchimishuk.pp.ua/a3d5677b-7997-4ff0-bf7d-2ed2212db37b

[2020-01-31 17:29] trinaldi commented on #44
Replace `git describe --long | sed 's/\([^-]*-g\)/r\1/;s/-/./g'` for `git describe --abbrev=0 --tags` and it should work. I tested and it seems fine. Somehow the first command is point to the older version.

[2020-02-01 19:48] vchimishuk commented on #44
@trinaldi, strange things here. Your PKGBUILD causes the same exception at the end. I've checked the actual files installed with the package and it is the latest version from Github repo.

[2020-02-01 19:52] trinaldi commented on #44
That's weird, I manage to install it with no issues.

There's something else missing, then.

On Sat, Feb 1, 2020, 16:48 Viacheslav Chimishuk <notifications@github.com>
wrote:

[2020-02-01 19:56] vchimishuk commented on #44
I'm not familiar with easy install and stuff, but it looks like problem somewhere on that level. I can import the package when running python shell.

[code]

[2020-02-01 19:57] vchimishuk commented on #44
[code]
And this doesn't work.

[2020-02-01 20:51] trinaldi commented on #44
I'm not able to reproduce it:

[code]

Can you post the output from `pacman -Qs python(2?)-gobject` ?

[2020-02-01 20:58] vchimishuk commented on #44
[code]

Could you send me the `escrotum-git` package built by you, please? I want to compare its contents with one built on my machine. You can use my email to sent it: `vchimishuk` living on `yandex.ru` domain.

[2020-02-01 21:05] trinaldi commented on #44
My output is:

[code]

I'll send the `.tar.xz` file, sure.

[2020-02-01 21:31] vchimishuk commented on #44
Yeah, I have it. Here is the list of all installed python packages on my machine. https://files.vchimishuk.pp.ua/6638c325-d164-4708-bfd9-e7eab4718b2c
Maybe you can send me yours and I'll try to compare? Maybe some setuptool related package is missed or something.

P. S.
Our `.tar.xz` files are almost identical.

[2020-02-01 21:43] trinaldi commented on #44
All my packages, including Python[2]'s, are described in the BUILDINFO file inside the package.

[2020-02-01 22:26] vchimishuk commented on #44
Very strange. I have installed all the `python-*` packages are present in your list -- same error.

[2020-02-01 22:30] trinaldi commented on #44
Indeed. I'm not sure what you can do. Try some Gtk related packages? I'm just brainstorming here... I used GNOME for a long time before i3, maybe some GNOME related package and/or required packages?

[2020-02-02 12:29] vchimishuk commented on #44
I've tried all python3 related packages, still cannot find the issue. Thanks, @trinaldi. Will try to dig it further.

[2020-02-14 15:20] thebombzen commented on #12
Think someone managed to beat this, impressive as it is.
AssVapour.
https://github.com/m1el/vapoursynth/blob/master/src/filters/assvapour/assvapour.c

[2020-02-19 09:43] guyonvarch commented on #44
I wrote this derivation that builds `escrotum` at version `1.0.1` with nix:
https://github.com/guyonvarch/nixpkgs/commit/dd095505c74e39e644bdd20c8320732ec968b5b8

It requires https://github.com/Roger/escrotum/pull/56 and https://github.com/Roger/escrotum/pull/57, that are currently applied as patches in the derivation.

The produced binary works, but it returns some warnings:

[code]

It seems tha

[2020-02-19 20:01] trinaldi commented on #44
Nice, @guyonvarch .

As I've mentioned, my DE was GNOME and _probably_ some requirements were being met.
A simple search using the warning message can help with it. I've seen some threads but I haven't tried anything.

[2020-03-31 09:38] wjdp opened #58 "Crashes when taking a screenshot, then can't close"
Installed today on Ubuntu 18.04 via pip running i13wm 4.17.1.

[code]

[2020-03-31 09:39] wjdp commented on #58
After installing numpy I get

[code]

[2020-04-16 10:38] SammysHP commented on #44
@trinaldi

This is the wrong approach. Tags up to `0.2.1` are annotated tags, but `1.0.0` and `1.0.1` are not, thus they are not considered as a release. The proper fix is to create the next tag with `git tag -a` to create an annotated tag.

[2020-04-16 10:44] SammysHP commented on #44
Independent of this issue I created a new PKGBUILD from scratch using the latest Arch Python packaging guidelines and some simplifications.

[code]

[2020-04-16 10:51] SammysHP commented on #44
@guyonvarch

The first three warnings are from your GTK theme.

I don't get the warning about missing numpy with my PKGBUILD.

But I get the last error `Unrecognized parameter (quality) passed to PNG saver.`.

[2020-04-16 13:57] gigosaurus commented on #58
Getting the same problem, also installed via pip on Ubuntu 18.04 and i3wm.

[2020-04-16 17:05] SammysHP opened #59 "Selection captures wrong area"
[code]

If the selection starts in the top left corner everything is fine. But if it starts somewhere else, the dimensions are fine, but the content is shifted/placed in the wrong area. Depending on the area/offset from the corner it might be completely black.

e7ed25d967a2116b618fab94a371a63814b3604b on Arch Linux.

[2020-04-24 23:38] ngpnam261 commented on #59
I encounter the same problem, have you find a fix?

[2020-04-25 17:01] #59 closed

[2020-05-01 10:40] SammysHP commented on #58
This is already fixed in #57.

For the second issue a stack trace would be helpful to see where the segfault happens.

[2020-05-01 13:55] wjdp commented on #58
Happy to provide one, let me know what to run to get it.

[2020-05-01 15:37] SammysHP commented on #58
Something like `gdb python` and then `run <escrotum module/script>` and `bt` after it segfaulted.

[2020-05-05 12:11] Badgie opened #61 "Images are not saved to clipboard"
With the newest version, images are not saved to clipboard. Running e.g. `escrotum -sC` would normally do this - however, the clipboard is empty.

kernel version: `5.6.8-arch1-1`
escrotum version: `0.2.1.r44.292766e-1`

[2020-05-05 17:16] cogitantium commented on #61
Can confirm, this also happens on Arch Linux under i3.

[2020-05-05 19:12] Badgie commented on #61
In case this is related to a specific distro, I am also using Arch Linux under i3.

[2020-05-06 07:11] #61 closed

[2020-05-20 16:44] gigosaurus commented on #58
Is this what you were looking for?
[code]

[2020-05-20 18:11] SammysHP commented on #58
@gigosaurus
Thanks, that helps. I think this is an issue with the old version of PyGObject. More precisely Pixbuf.new_from_data() has memory management issues and was [fixed](https://gitlab.gnome.org/GNOME/pygobject/-/merge_requests/74) with version 3.29.3, but Ubuntu 18.04 uses 3.26.1.

You could try applying this patch and see if it works:

[code]

I don't know if the function is available with

[2020-06-01 14:43] SammysHP opened #64 "Missing dependency: cairo"
There is a `import cairo`, but cairo is not listed as a dependency.

[2020-06-06 14:03] joseildofilho commented on #64
Try to install Cairo via pip:
`pip install pycairo`

[2020-06-06 15:56] SammysHP commented on #64
@joseildofilho
The problem is not that I don't know how to install it, but that the dependency is missing in `setup.py`.

[2020-06-06 16:32] Roger commented on #64
I've created a PR to add pycairo as a dependency in setup.py, also, I've added you as a co-maintainer of the aur package, thanks for the help!

[2020-06-06 16:59] #64 closed

[2020-06-08 16:04] jorgicio commented on #44
Hi.
Yesterday, I just started to maintain this package for Gentoo. It's in my overlay.
https://github.com/jorgicio/jorgicio-gentoo-overlay

Greetings!

[2020-06-28 17:19] SammysHP opened #66 "Wrong offset when capturing window"
With the current version, when making a screenshot of a selected window, the captured area starts outside of the window decoration (window decoration is 1px in my case), but uses the dimensions of the window content. This means that the decoration at the left and top side is captured, but the bottom and right side are slightly cropped.

[2020-06-30 06:48] Roger commented on #66
Is like `get_geometry` is giving the height/width of the window without decorations, but the the position (x, y) is from the start of the decoration. I tried with `get_frame_extents` that should include the wm decorations but is the same as `get_geometry`, this looks like a bug in gdk.

Which wm and distro are you using? here is arch + qtile

[2020-06-30 10:04] SammysHP commented on #66
Arch with awesome wm.

[2020-09-09 02:01] shanedabes commented on #66
Seeing this on arch + bspwm too.

[2020-11-10 11:53] GeneralDenmark opened #67 "Recording holds wrong filename in $f"
When executing

escrotum -sr '%M%S.webm' -e 'echo $f'

It seems like it captures the timestamp, this is used for saving the file, but the -e parameter does not hold the old value of the timestamp, and thus returns the current timestamp instead of the filename.

This results in a different filename being printed from the one that is actually saved, see image;
![image](https://user-images.githubuser

[2020-11-10 12:11] GeneralDenmark commented on #67
In the meantime, if there are anyone else needing the filename, a dirty fix could be
[code]
Is a bit dirty way of forcing the the same time to be used in both the exec argument and the filename.

[2020-12-03 20:56] ave-63 opened #68 "escrotum broken after upgrade to python 3.9"
I'm using arch linux, on a thinkpad x1 yoga, with the package `escrotum-git 0.2.1.r47.abcab0e-1`. This morning I upgraded using `yay -Syu` as normal, and python got upgraded from 3.8 to 3.9. Running `escrotum` in bash gave the following error:

`Traceback (most recent call last):
  File "/usr/bin/escrotum", line 33, in <module>
    sys.exit(load_entry_point('escrotum==1.0.1', 'console_scripts', 'e

[2020-12-04 04:22] Peloponeso31 commented on #68
Just reinstall from AUR, when your AUR helper (i.e. yay) ask your if the package should be clean builded you select the yes option.

[2020-12-04 20:29] EricDriussi commented on #68
Doesn't fix it for me. Unfortunately I'm not quite sure how to edit the script manually.

[2020-12-04 22:22] KannaHayabusa commented on #68
Didn't fix it for me either.

[2020-12-06 19:17] justinesmithies commented on #68
I know what the issue is as I'm on Arch Linux and installing python-numpy fixes the issue for me. So this needs to be added to the code as a dependency.

[2020-12-06 20:06] SammysHP commented on #68
numpy is an optional dependency, as listed in the PKGBUILD. escrotum can work without it, but there seems to be an incompatibility with the latest python release. (And it requires a rebuild as seen in the first output of this issue.)

I'll try to have a look at this in the next few days.

[2020-12-06 20:08] SammysHP commented on #68
This issue was already fixed long time ago. Please clean-build the package and it should work again. This issue can be closed.

[2020-12-06 20:19] justinesmithies commented on #68
I did do a clean-build @SammysHP and that still didn't resolve the issue but installing python-numpy did.

[2020-12-06 21:39] SammysHP commented on #68
Interesting, I'll have a look at it tomorrow.

[2020-12-07 19:35] SammysHP commented on #68
The real cause of trouble wasn't mentioned in this issue so far:

[code]

With Python 3.2 `array.tostring()` was deprecated and renamed to `array.tobytes()`. Now, with Python 3.9, `array.tostring()` was finally removed.

Fixed with #69.

[2020-12-07 19:45] #68 closed

[2021-01-04 15:05] andrey-bolduzev opened #70 "Unrecognized parameter “quality” passed to the PNG saver"
After upgrading to python 3.9, I can't seem to make it work. Running with `-C` now fails silently with nothing copied to the clipboard and a 0 exit code and running with a filename produces a uniform black png with this output (and also a 0 exit code):

```(escrotum:23207): GdkPixbuf-WARNING **: 10:00:03.461: Unrecognized parameter “quality” passed to the PNG saver```.

Is there anything I can do

[2021-02-12 18:56] PoSayDone opened #72 "File doesn't saving using -C modifer"
Kernel version: `linux-5.10.14.arch1-1`
Escrotum version: `escrotum-git 0.2.1.r48.a41d0f1-1`
Python version: `python-3.9.1-2`

Using this, file isn't saving and isn't going to clipboard
`escrotum -s -C '~/Pictures/Screenshots/screenshot_%d.%m.%Y_%H:%M:%S.png'`

That works okay
`escrotum -s '~/Pictures/Screenshots/screenshot_%d.%m.%Y_%H:%M:%S.png'`

[2021-02-28 22:53] mgonzalezperna opened #73 "Eventually moving to Rust"
Have you ever considered rewriting this into Rust? I mean, Rust is a more memory-safe language and it has concurrency built-in, which will prevent you from any thread issue in the future. Also, you can compile it to different targets, so everybody can have their escrotum oxidated.

[2021-03-01 17:58] Roger commented on #73
PR's are welcome 🦀

[2021-06-18 03:56] loosefish-scapegrace opened #74 "man-page question"
at the bottom of the man page, it is mentioned that the escrotum documentation is maintained as a texinfo page.
this is, as far as i can tell, a default thing that help2man adds in, but since this isn't actually true, shouldn't it be removed?

[2021-08-11 22:19] moritzschaefer commented on #72
Although I don't agree with this design decision, this seems to be intended and has been so for 7 years now (I referenced the commit/code line). Workaround should be:
escrotum -e 'xclip -selection clipboard -t image/png -i $f'

[2021-08-11 23:09] Roger commented on #72
I totally agree that the design decision was not the best, this should copy to clipboard and save to disk or at least throw an error because the combination of those flags is not supported. Sorry that I'm not giving  support to escrotum, but I had not much time and I'm not even using it anymore, since I've moved to wayland.

I wouldn't mind to give maintenance to another developer that is interest

[2021-08-12 08:56] moritzschaefer commented on #72
Don't worry for OT, I understand the struggle. Unfortunately I can't jump in neither.

[2021-12-11 23:20] dyeo opened #76 "Video capture filename in --exec does not use the same time as the file"
Occurred on Linux 5.15.7-xanmod1-tt-1 using xorg and i3wm

**Steps to reproduce**

1. Start a video capture using the following command:
`escrotum -r '~/img/screenshots/%Y-%m-%d_%H-%M-%S.webm' -e 'echo $f'`
2. Wait 5 seconds and then end the video capture using `Ctrl-Alt-s`
3. Notice that the echo'd video filename will have the seconds field be 5 seconds later than that of the actual saved file.

[2021-12-14 20:14] devxalted opened #78 "Doesn't work with Python 3.10.1"
After reading this issue:
#68

I was able to get escrotum working on python 3.10.1 again, however the issues I was having prior to installing escrotum as a python package and also installing python-numpy from AUR as mentioned as fix actions.. my issues were identical to the issues given when python upgraded to 3.9.

Everything from the original post in #68 is identical and relevant to the issue up

[2021-12-21 05:17] dyeo commented on #67
Fixed in #77, waiting on a PR

[2021-12-21 22:10] SammysHP commented on #78
Please run this command and check its output. Any packages shown there must be reinstalled:

[code]

Especially if escrotum is included you have to rebuild it!

[2021-12-22 13:37] SuperZoops commented on #78
Same issue here even after rebuilding all the 3.9 packages.

[2021-12-22 15:10] SammysHP commented on #78
Works fine for me.

@SuperZoops
What is the output of `pacman -Qqo /usr/lib/python3.9`?

[2021-12-22 21:12] SuperZoops commented on #78
Oh sorry, I fixed it after rebuilding all 3.10 packages, there was nothing in 3.9 before it broke though as I rebuilt everything as soon as 3.10 dropped, so something between 3.10 and 3.10.1 must have broken it.
Closing my intervention.

[2022-01-16 04:00] kodenart commented on #78
Yeah, that fixed. Why does this happens tho? I'm asking just to learn something, if you have any time to answer would be much appreciated. Thanks in advance!

[2022-01-16 07:41] SammysHP commented on #78
@kodenart
Packages are built against a specific version of Python. If the version changes, all dependent packages must be rebuilt against the new version.

[2022-01-16 07:59] kodenart commented on #78
Sure, but that's the first package that I've had to explicitly tell the manager to rebuild. Maybe there's some info missing in the dependencies area of the package?

[2022-01-16 09:21] SammysHP commented on #78
All official packages are rebuilt automatically. But AUR packages are your own responsibility. Especially VCS packages (-git) will only be bumped if their PKGBUILD changes (usually).

[2022-01-16 13:44] kodenart commented on #78
Thx!

[2022-02-17 12:26] gustaphe commented on #70
I see this too. `yay $(pacman -Qqo /usr/lib/python<version>)` for each of 3.8, 3.9, 3.10, and a reboot did not fix it.